* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff6e7;
    font-family: 'Arial', sans-serif;
    color: black;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header {
    width: 100%;
    text-align: left;
    padding: 20px;
}

.app-name {
    font-size: 3.5vw;
    font-weight: bold;
    color: black;
    margin-left: 20px; /* Align with text content */
    margin-bottom: 20px; /* Add space below the app name */
}

.content {
    width: 100%; /* Set to 100% for consistent width */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    margin-top: 20px;
}

.left-column {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    position: relative;
}

.headline {
    font-size: 2.8rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.app-info {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 20px;
    color: #333;
    max-width: 500px;
    padding: 15px;
    border-left: 4px solid black; /* Changed border to black */
}

.animated-image {
    position: absolute;
    bottom: 50px;
    left: 10%;
    width: 6%;
    animation: fluidMove 10s infinite linear; 
    
}

@keyframes fluidMove {
    0% {
        transform: rotate(0deg) translateX(0) scale(0.1); /* Initial position */
    }
    20% {
        transform: rotate(-90deg) translateX(0) scale(0.1); /* Rotate 90 degrees left */
    }
    40% {
        transform: rotate(-90deg) translateX(40vw) scale(0.1); /* Move halfway to the right */
    }
    60% {
        transform: rotate(90deg) translateX(40vw) scale(0.1); /* Rotate 180 degrees to the right */
    }
    80% {
        transform: rotate(90deg) translateX(80vw) scale(0.1); /* Move to the final destination */
    }
    100% {
        transform: rotate(270deg) translateX(80vw) scale(0.1); /* Rotate back 90 degrees left to the original orientation */
    }
}



.right-column {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.app-interface {
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: -20px; /* Adjust to align with the headline */
}

.app-video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
