* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff6e7;
    font-family: 'Arial', sans-serif;
    color: black;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header {
    width: 100%;
    text-align: left;
    padding: 20px;
}

.app-name {
    font-size: 3.5vw;
    font-weight: bold;
    color: black;
    margin-left: 20px;
    margin-bottom: 20px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    margin-top: 20px;
}

.left-column {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    position: relative;
}

.headline {
    font-size: 2.8rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.app-info {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 20px;
    color: #333;
    max-width: 500px;
    padding: 15px;
    border-left: 4px solid black;
}

.animated-image {
    position: absolute;
    bottom: 100px;
    left: 10%;
    width: 6%;
}



.right-column {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.app-video {
    height: 100vh; /* Full height of the screen */
    width: 100%;
    object-fit: cover; /* Cover the container */
    scale: 0.8;
    margin-top: -250px;
}
